/* Common CSS */

.mayank-img {
  border-radius: 50%;
  margin: auto;
}

.left-card {
  text-align: center;
  margin: 5px;
}

.social-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.social-links img {
  margin: 5px 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.social-links img:hover {
  transform: scale(1.1);
}
@media (min-width: 600px) {
  /* Desktop Mode */
  .mayank-img {
    width: 40%;
  }
}

@media (max-width: 600px) {
  /* Mobile View */
  .mayank-img {
    width: 85%;
  }
}
